<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body>
    <% include ../partials/page_navbar %>

    <% include ../partials/page_sidebar %>

    <div class="for-header for-sidebar">
        <p>testing, testing, 123</p>
    </div>

    <div class="for-sidebar"><input type="text" name="text" id="SearchBox" class="form-control search"></div><br>
    <div class="for-sidebar">
    <table class="table table-striped">
        <tr>
        <% for(var item in data[0]) { %>
            <th><%= item.replace('product','') %></th>
        <% } %>
        </tr>
        
        <% for(var row in data) { %>
            <tr class="filter">
                <td><%= data[row].productCode %></td>
                <td><%= data[row].productType %></td>
                <td><%= data[row].productStyle %></td>
                <td><%= data[row].productGender %></td>
                <td><%= data[row].productSize %></td>
                <% if(data[row].productSecondHand) { %>
                    <td>Yes</td>
                <% } else { %>
                    <td>No</td>
                <% } %>
                <td><%= data[row].productQuantity %></td>
                <td>$<%= data[row].productCost %></td>
            </tr>
        <% } %>
    </table>
    </div>

</body>
</html>